
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>HAKKIMIZDA</h3>
            <img src="~/web/images/pic11.jpeg" alt="" />

            <h4>Albayrak Otele Hoşgeldiniz</h4>

            <p> 2021 yılında Aile işletmesi olarak kurulmuştur.</p>
        </div>
    </div>
</div>

