
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
@*Burası benim içeriğimin oldugu sayfa*@
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    
                        <h2 class="indent-left margin-bot"> OTELLER, RESTAURANTLAR VE MÜZELER</h2>
                   
                    <div class="banner-left">
                        <div class="con-text">

                            <div class="grid1-desc">
                                <a href="/Rehber/Index/"</a>
                                <p>OTELLER</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">

                            <div class="grid1-desc">
                                <a href="/Rehber/Index1/"</a>
                                <p>RESTORANTLAR</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">

                            <div class="grid1-desc">
                                <a href="/Rehber/Index3/"</a>
                                <p>MÜZELER</p>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">
                        <div class="slider" style="width:500px; height:280px;">
                            <ul class="rslides" id="slider1">
                                <li><img src="~/web/images/alachibutikotel1-675x450.jpg" style="height:260px" alt=""></li>
                                <li><img src="~/web/images/kaya-plazzo-675x450.jpg" style="height:260px" alt=""></li>
                                <li><img src="~/web/images/restaurant-675x450.jpg" style="height:260px" alt=""></li>
                                <li><img src="~/web/images/ADMO-restaurant-–-Dom-Pérignon-675x450.jpg" style="height:260px" alt=""></li>
                                <li><img src="~/web/images/Anthony-Cragg-insan-Dogasi-675x450.jpg" style="height:260px" alt=""></li>
                                <li><img src="~/web/images/MUZIK-MUZESI-2-675x450.jpg" style="height:260px" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <br />
                    <br />
                    <br />
                    <br />

                    <p>Bu sayfada oteller,restaurantlar ve müzelerle ilgili bilgiler paylaşıyor olacağım.</p>
                </div>

                <div class="grids">
                    <div class="box1">

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




